.footer__navigation-link{
  text-decoration: none;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}


.footer__navigation-link{
  opacity: 0.8;
  cursor: poInter, sans-serif;
}

@media (max-width: 320px){
.footer__navigation-link{
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}
}


@media (min-width:321px) and (max-width:525px){
  .footer__navigation-link{
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
  }