
@import url(./__item/photo-grid__item.css);

.photo-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px,1fr));
    grid-gap: 16px;
    padding-top: 92px;;
    padding-left: 48px;
    padding-right: 48px;
  }
  
  
  @media (max-width: 1024px){
    .photo-grid {
    grid-template-columns: repeat(3, auto);
    grid-gap: 14px;
  }
  }
  
  @media (max-width: 768px){
    .photo-grid{
    padding: 88px 24px 0;
    grid-template-columns: repeat(2, auto);
    grid-gap: 16px;
  }
  }
  
  @media (max-width: 320px){
    .photo-grid{
    padding: 64px 16px 0;
    grid-template-columns: repeat(1, auto);
    grid-gap: 12px;
  }
  }