.places{
  max-width: 984px;
  padding-left: 148px;
  padding-right: 148px;
  padding-bottom: 92px;
}

@media (max-width: 1024px){
.places{
  padding: 6px 48px 92px;
}
}

@media (max-width: 768px){
.places{
  padding: 0 24px 88px 24px;
}
}

@media (max-width: 320px){
.places{
  padding: 0 0 64px 0;
}