.footer__navigation-cell{
  margin-right:18px; 
  text-decoration: none;
  list-style: none;     
}
 
@media (max-width: 320px){
.footer__navigation-cell{
  margin-bottom: 32px;
}
}

@media (min-width: 321px) and (max-width:565px ){
.footer__navigation-cell{
  margin-bottom: 32px;
}
}
  