.footer__navigation-cell{
  margin-right:18px; 
  text-decoration: none;
  list-style: none;     
}
 

@media (min-width: 320px) and (max-width:565px ){
.footer__navigation-cell{
  margin-bottom: 32px;
}
}
  