.footer__navigation-cell{
  list-style: none;
  margin-right: 18px;
}

.footer__navigation-cell:nth-child(5){
  margin-right: 0;
  
}


@media (max-width:320px){
.footer__navigation-cell{
margin: 0;
}
}

}