@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__image-subtitle/lead__image-subtitle.css);
@import url(./__image-container/lead__image-container.css);

.lead{
  margin: 0 148px;
  max-width:984px;
}

@media (max-width: 1024px){
.lead{
 margin: 0 48px;
}
}

@media (max-width: 768px){
.lead{
  margin: 0;
}
}

