
.footer__navigation-list{
  display: flex;
  padding: 0;
  margin: 0; 
}
 
@media (min-width:320px) and (max-width:525px){
.footer__navigation-list{
  flex-direction: column;
  align-items: flex-start;       
}
}
