@import url(./__copyright/footer__copyright.css);
@import url(./__navigation-cell/footer__navigation-cell.css);
@import url(./__navigation-link/footer__navigation-link.css);
@import url(./__navigation-list/footer__navigation-list.css);

.footer{
display: flex;
max-width: 1184px;
max-height: 18px;
margin: 0 auto ;
padding: 92px 48px 24px 48px;
justify-content: space-between;
align-items: center;
}


@media (max-width:1024px){
.footer{
  max-width: 928px;
}
}

@media (max-width:768px){
.footer{
  max-width: 720px;
  padding: 88px 24px 24px 24px;
}
}

@media (max-width:675px){
.footer{
  flex-direction: column;
  align-items: flex-start;
  padding: 62px 16px 48px;
  max-height: 80px;
}
}

@media (max-width:320px){
.footer{
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 16px 250px;
  max-height: 80px;
}
}
  
@media (max-width:512px){
.footer{
  flex-direction: column;
  align-items: flex-start;
  padding: 62px 16px 260px;
  max-height: 80px;   
}
}
  




